<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand"
    routerLink="/home">My Good Reads</a>
  <button class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <ul class="nav">
    <li class="nav-item">
       Read
      <span class="badge badge-primary badge-pill">{{backendService.readsCounter$ | async}}</span>
    </li>
  </ul>
</nav>